html, body {
  background-color: #787878;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.page-wrapper {
  position: relative;
  top: 51px;
  height: calc(100% - 51px);
  width: 100%;
  margin: 0;
  padding: 0;

}

.sidebar-wrapper {
  height: 100%;
  background-color: #222;
  margin: 0;
  padding: 0;
  padding-top: 25px;

}

.content-wrapper {
  height: 100%;
  margin: 0;
  padding: 25px;

}
