.sidebar-wrapper {
    // width: 25%;
    height: 100%;
    background-color: red;
    position: fixed;
    left: 0;
    top: 50px;
    padding: 0;
}

.profile-wrapper {
    background-color: black;
    height: 50px;
    margin: 0 auto;

}
