.badge-color {
    background-color: #e50915;
    float: right;

}

.nav-link-right {
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 20%;

}

.navbar-right {
    width: 60%;
}

.navbar-left {
    width: 25%;
}

.blimflix-logo-link {
    width: 100%;
    padding: 0;
    text-align: center;

}

.blimflix-logo {
    margin-left: 30%;
    width: 45%;
}
