.badge-color {
    background-color: #ff0000;
    float: right;

}

.nav-link-right {
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 160px;

}

.blimflix-logo-link {
    width: 70%;
    padding: 0;
    text-align: center;

}

.blimflix-logo {
    margin-left: 25%;
    width: 40%;
}
