.container-filters {
  width:95%;
  height:75px;
  margin: 0 auto;

}

.form-control {
  width: 15%;
  float:right;
  margin-right:8px;

}

.search {
  float:right;
  width:18%;

}

.heading {
  float:left;
  font-size: 20px;

}

.navbar-form {
  float:right;
  margin-top:0;

}

.lupa {
  padding-bottom: 7px;

}

.glyphicon {
  top:1.5px;

}

.form-year {
  width:13%;

}
